h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.App {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 15%;
  margin: 5%;
  margin-left: 0;
}

.main {
  width: 65%;
}

.main .graph {
  border: 1px solid;
  height: 860px;
  position: relative;
}

.graph::after {
  content: "";
  /*background-image: url("images/market.png");
  background-image: url("images/market.png");*/
  background-image: url("images/back_register.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.camera-list {
  text-align: left;
  height: 40%;
}

.react-calendar-container {
  height: 40%;
}

.slider-container {
  height: 10%;
}

.react-calendar {
  width: inherit;
}

.main .header {
  height: 50px;
}

.sidebar-right {
  width: 9%;
}
